a{
    text-decoration: none;
    color: black;

}
.navbar-items{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    font-size: x-large;
}
.navbar{
    background-color: #4CAF50;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin-left: 10px;
    margin-right: 40px;
}