<div class="navbar">
    <ul>
        <li>
            <div class="navbar-items"><a href="/shop">Home</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/shopdetails">Shop</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/shopvehicles">Vehicles</a></div>
        </li>    
        <li>
            <div class="navbar-items"><a href="/shopappointment">Appointments</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/shopdashboard">Dashboard</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/loginshop">Log in</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/registershop">Register</a></div>
        </li>
        
    </ul>
</div>