<div class="navbar">
    <ul>
        <li>
            <div class="navbar-items"><a href="/customer">Home</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/shops">Shops</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/services">Services</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/vehicles">Vehicles</a></div>
        </li>    
        <li>
            <div class="navbar-items"><a href="/appointments">Appointments</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/address">Address</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/dashboard">Dashboard</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/login">Log in</a></div>
        </li>
        <li>
            <div class="navbar-items"><a href="/register">Register</a></div>
        </li>
        <li>
            <div class="navbar-items" (click)="logout()"  style="cursor: pointer;">Logout</div>
        </li>

        <!-- <li>
            <button (click)="logout()">Logout</button>
        </li> -->
    </ul>
</div>