/* dashboard.component.css */
.dashboard-container {
    margin: 20px;
  }
  
  h1 {
    color: #2c3e50;
  }
  
  h2 {
    color: #34495e;
  }
  
  .customer-details,
  .customer-address,
  .customer-vehicles {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .customer-details p,
  .customer-address p,
  .customer-vehicles p {
    font-size: 16px;
    margin: 5px 0;
  }
  
  hr {
    margin-top: 15px;
    border-top: 1px solid #ccc;
  }
  